body {
  @include sans-serif-font;
  background: url(/static/img/riddler-wallpaper.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 0px 80px;
}

h1,h2,h3,h4,h5,h6,p,a,#container-content {
  @include sans-serif-font;

}
#container-nav {
  background-color: $darkgreen;
  
  .empty-navbar {
    height: 80px;
  }
}
.alert-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


    