body {
  @include sans-serif-font;
  background: url(/static/img/riddler-wallpaper.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 0px 80px;
}

h1,h2,h3,h4,h5,h6,p,a,#container-content {
  @include sans-serif-font;

}

// body::after {
//   content: "";
//   background: #000 url('/static/img/riddler-wallpaper.jpg') no-repeat;
//   opacity: 0.9;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }

#container-nav {
  background-color: $darkgreen;
  
  .empty-navbar {
    height: 80px;
  }
}


    