// Styling for the masthead
#apodSection.apod {
  //padding-top: 10rem;
  //padding-bottom: calc(10rem - 56px);
  background-image: url('../img/stars70.jpg'); //image from https://free-images.com/
  background-position: center center;
  @include background-cover;
  h1 {
    font-size: 2rem;
  }
  p {
    text-align: left;
  }
  .apod-image {
    max-width: 100%;
    border: 1px solid #333;
  }
  .apod-copyright {
    float: right;
  }
  .apod-date {
    float: left;
  }
  .apod-para {
    clear: both;
  }
  .apod-para-bg {
    background-color: $fadedbkg-03;
  }
  #apod_vid_id {
    border:0;
  }
  .video-container {
    position: relative;
    padding-bottom: 30%;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
  }
  #apod-error-row {
    display:none;
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3.5rem;
    }
  }
}
