@import url("https://fonts.googleapis.com/css?family=Margarine");
.btn {
  white-space: normal; }

.alert-warning {
  color: #fff;
  background-color: #b32c16;
  border-color: #fff;
  font-family: Arial, sans serif;
  font-size: 0.8em; }

#riddle-answer-area .form-control {
  height: 90px;
  text-align: center;
  font-size: 1.4rem; }
  @media (min-width: 768px) {
    #riddle-answer-area .form-control {
      height: 150px; } }

button.close {
  background-color: transparent;
  color: #000;
  font-weight: 900; }

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  color: #fff; }

.btn:disabled {
  color: #ccc; }

.form-control {
  border: 2px solid #052003;
  width: 80%; }

.form-control:focus {
  border-color: #b32c16; }

body {
  font-family: 'Margarine', cursive;
  background: url(/static/img/riddler-wallpaper.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 0px 0px; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
#container-content {
  font-family: 'Margarine', cursive; }

i {
  margin-right: 5px; }

#container-nav {
  background-color: #052003;
  height: 80px; }
  #container-nav #nav-logo {
    height: 80px;
    position: relative; }
  #container-nav #nav-logo img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  #container-nav nav {
    color: #fff;
    font-size: 1.4rem; }
  @media (min-width: 768px) {
    #container-nav nav {
      line-height: 80px; }
    #container-nav #nav-logo {
      height: 80px; }
    #container-nav #nav-logo img {
      width: 100%;
      position: static;
      left: 0;
      top: 0;
      transform: translate(0, 0); } }

.red-text {
  color: #b32c16; }

.alert-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.btn-riddle,
.btn-riddle-index {
  color: #fff;
  background-color: #052003;
  border-color: #052003;
  white-space: nowrap;
  transition: all .1s linear; }

.btn-nav {
  color: #b32c16;
  background-color: #fff;
  border-color: #b32c16; }

.btn-nav:hover {
  color: #fff;
  background-color: #052003;
  border-color: #fff; }

.btn-riddle:hover {
  color: #fff;
  background-color: #b32c16;
  border-color: #b32c16; }

.btn-riddle:active, .btn-riddle-index:active {
  transform: translateY(3px); }

#messages-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px; }
  #messages-container p {
    color: #b32c16;
    margin-bottom: 0; }

@media (min-width: 768px) {
  .btn-riddle {
    width: 80%; }

  #helpModal .btn-riddle {
    width: 100%; }

  #nav-logo img {
    width: 100%;
    max-width: 450px; } }
/* error pages */
#error-page {
  margin-top: 100px;
  background-color: rgba(245, 245, 245, 0.7);
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

/* Debugging Panel */
#panel-debug {
  padding: 10px 10px;
  background-color: #ccc;
  overflow: hidden; }
  #panel-debug div.left,
  #panel-debug div.right {
    background-color: #ccc;
    float: left;
    width: 50%; }
  #panel-debug h5,
  #panel-debug p {
    font-family: Arial, sans-serif !important; }
  #panel-debug p {
    font-size: 0.9rem; }

#container-content .logo-container {
  padding-top: 30px;
  text-align: center; }
#container-content .logo-container img {
  max-width: 100%; }
#container-content #username-form-container {
  padding: 20px 20px;
  /* StackOverflow solution to vertically and horizontally center the Modal */ }
  #container-content #username-form-container #form-bkg {
    padding-top: 50px;
    background-color: rgba(245, 245, 245, 0.7);
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
    #container-content #username-form-container #form-bkg form {
      text-align: right; }
    #container-content #username-form-container #form-bkg input {
      margin: 0 auto; }
  #container-content #username-form-container #messages-container {
    color: #b32c16;
    background-color: #f5f5f5;
    margin: 0 auto;
    width: 80%; }
  #container-content #username-form-container .form-control:focus {
    color: #052003;
    background-color: #fff;
    border-color: #052003;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(5, 32, 3, 0.25); }
  #container-content #username-form-container .button-submit-margin {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center; }
  #container-content #username-form-container .link-howto-margin,
  #container-content #username-form-container .input-info {
    padding-bottom: 5px;
    text-align: center; }
  #container-content #username-form-container .input-info {
    font-size: .7rem; }
  @media (min-width: 768px) {
    #container-content #username-form-container .link-howto-margin,
    #container-content #username-form-container .input-info {
      padding-bottom: 5px;
      text-align: right;
      padding-right: 1.8rem; }
    #container-content #username-form-container .button-submit-margin {
      padding-right: 1.8rem;
      text-align: right; } }
  @media (min-width: 992px) {
    #container-content #username-form-container .link-howto-margin,
    #container-content #username-form-container .input-info {
      padding-bottom: 5px;
      text-align: right;
      padding-right: 2.8rem; }
    #container-content #username-form-container .button-submit-margin {
      padding-right: 2.3rem;
      text-align: right; } }
  #container-content #username-form-container .vertical-align-modal {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; }
  #container-content #username-form-container .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none; }
  #container-content #username-form-container .modal-content {
    width: inherit;
    max-width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all; }
  #container-content #username-form-container #form-wrapper {
    width: 80%;
    background-color: #ff0000; }
@media (min-width: 768px) {
  #container-content #username-form-container {
    padding: 100px 0px;
    width: 80%; }
  #container-content #form-bkg {
    width: 100%; }
  #container-content .button-howto-margin {
    margin-top: 90px; } }

#riddle-question-area {
  padding-top: 60px; }
  #riddle-question-area .welcome-user-message {
    font-size: 1.9rem;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px 5px;
    background-color: rgba(245, 245, 245, 0.7);
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
    #riddle-question-area .welcome-user-message p {
      font-size: 1.4rem;
      margin-bottom: 0; }
    #riddle-question-area .welcome-user-message p.num-of-ten {
      text-align: right; }
  #riddle-question-area .riddle-question-box {
    display: table;
    font-size: 1.5rem;
    background-color: rgba(245, 245, 245, 0.7);
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%; }
    #riddle-question-area .riddle-question-box .riddle-count {
      float: right;
      padding-right: 20px;
      vertical-align: bottom; }
      #riddle-question-area .riddle-question-box .riddle-count p {
        font-size: 1rem; }
  #riddle-question-area .riddle-question-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    #riddle-question-area .riddle-question-text p {
      width: 80%;
      margin: 15% auto;
      font-size: 1.6rem; }
  #riddle-question-area .game-over {
    padding-top: 5%; }
  #riddle-question-area .game-over > img {
    width: 100%; }
  @media (min-width: 768px) {
    #riddle-question-area .riddle-question-box {
      height: 380px;
      vertical-align: middle;
      width: 100%; }
    #riddle-question-area .riddle-question-text p {
      font-size: 2.1rem; }
    #riddle-question-area .welcome-user-message {
      text-align: left;
      height: 130px;
      font-size: 2rem;
      padding: 10px 10px; } }

#riddle-answer-area {
  padding-top: 30px; }
  #riddle-answer-area .riddle-answer-box {
    font-size: 1.5rem;
    background-color: rgba(245, 245, 245, 0.7);
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  #riddle-answer-area .end-message {
    margin-top: 15%;
    text-align: center; }
  #riddle-answer-area .form-control {
    width: 100%; }
  #riddle-answer-area .form-group {
    text-align: center; }

@media (min-width: 768px) {
  .riddle-answer-box {
    vertical-align: middle;
    height: 380px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px; }

  #riddle-answer-area {
    padding-top: 210px; } }
.riddle-answer-attempts {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .riddle-answer-attempts p {
    font-size: 1rem;
    margin-bottom: 0.5rem; }
  .riddle-answer-attempts p:nth-child(2) {
    margin-bottom: 0; }

#container-leader-content #messages-container {
  margin-top: 100px; }
#container-leader-content .leaderboard-list {
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.7);
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
#container-leader-content .leaderboard-row {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  border-spacing: 10px;
  background-color: rgba(68, 97, 74, 0.3);
  clear: both; }
#container-leader-content .leaderboard-row-header {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: underline;
  background-color: #7b9a81; }
#container-leader-content .leaderboard-col-header {
  text-decoration: underline; }
#container-leader-content .leaderboard-col {
  float: left;
  width: 25%;
  padding: 20px; }
#container-leader-content .leaderboard-col-data {
  font-size: 0.9rem;
  white-space: nowrap; }
#container-leader-content .time {
  font-size: 0.6rem;
  line-height: 20px; }
@media (min-width: 768px) {
  #container-leader-content .leaderboard-list {
    padding: 40px; }
  #container-leader-content .leaderboard-row-header {
    font-size: 1.7rem; }
  #container-leader-content .leaderboard-col-data {
    font-size: 1.4rem; }
  #container-leader-content .time {
    font-size: 1.4rem;
    line-height: normal; } }

/*# sourceMappingURL=styles.css.map */
