{% extends 'base.html' %} {% block content %}
<h1>END v4</h1>
<h2>Hi {{username}}</h2>
<div style="width:900px">
    <div style="float:left;width:62%;background-color:#f5f5f5;padding:10px;box-sizing:border-box">


        <h1>GAME OVER
            <br> LEADERBOARD
        </h1>
        <h2>leaders List []</h2>
        {{leaderboard}}
        <br>
        
        <div>
            <h2>leaders sorted list []</h2>
            <div style="float:left;width:400px;background-color:#ccc;text-align:center">
                <div style="float:left;padding:5px;width:30%;">index</div>
                <div style="float:left;padding:5px;width:30%;">username</div>
                <div style="float:left;padding:5px;width:30%;">score</div>
            </div>
            {% for rows in newlist %}
            <div style="float:left;width:400px;background-color:#f5f5f5;text-align:center">
                <div style="float:left;padding:5px;width:30%;">{{ loop.index }}</div>
                <div style="float:left;padding:5px;width:30%;">{{ rows['username'] }}</div>
                <div style="float:left;padding:5px;width:30%;">{{ rows['score'] }}</div>
            </div>
            {% endfor%}
        </div>

        
        <div style="clear:both;padding-top:30px;">
            <h2>leaders for Loop</h2>
            <div style="float:left;width:400px;background-color:#ccc;text-align:center">
                <div style="float:left;padding:5px;width:30%;">index</div>
                <div style="float:left;padding:5px;width:30%;">username</div>
                <div style="float:left;padding:5px;width:30%;">score</div>
            </div>
            {% for leaders in leaderboard %}
            <div style="float:left;width:400px;background-color:#f5f5f5;text-align:center">
                <div style="float:left;padding:5px;width:30%;">{{ loop.index }}</div>
                <div style="float:left;padding:5px;width:30%;">{{ leaders.username }}</div>
                <div style="float:left;padding:5px;width:30%;">{{ leaders.score }}</div>
            </div>
            {% endfor%}
        </div>

    </div>
    <div style="float:left;width:38%;background-color:#ccc;padding:10px;box-sizing:border-box">
        <h2>LeaderBoard</h2>
        {% for leader in leaderboard %}
        <p>
            username: {{ leader['username'] }}<br>
            score: {{ leader['score'] }}
        </p>
        {% endfor %}
        <h2>Players List:</h2>
        {% for player in players %}
        <p>
            username: {{ player['username'] }}<br>
            attempts: {{ player['attempt'] }}<br>
            score: {{ player['score'] }}<br>
            riddle_number: {{ player['riddle_number'] }}
        </p>
        {% endfor %}
        <h2>Usernames</h2>
        {{usernames}}
    </div>

</div>


{% endblock %}
