{% extends 'base.html' %}

<!-- Content -->
{% block page_content_left %}
<div id="riddle-question-area">
    <div class="welcome-user-message">
        <!-- if it's the first riddle show 'first' otherwise show 'next' -->
        {% if riddle.Number == 0 %} 
        <h2>Hi {{username}},</h2><p>try answering this first riddle:</p> 
        {% else %} 
        <h2>Hi {{username}},</h2><p>try answering this next riddle:</p> 
        {% endif %}
    </div>
    <div class="riddle-question-box">
        <div class="riddle-question-text">
            {% if riddle.Path != "" %}
            <img src="{{ riddle.Path }}" alt="riddle image" /> {% else %}
            <p>{{ riddle.Question }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} {% block page_content_right %}
<div id="riddle-answer-area">
    <div class="riddle-answer-box">
        <form method="POST" name="riddleAnswer" id="answerForm" action="/checkPlayerInput">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <input type="text" class="form-control" placeholder="Enter your Riddle Answer" name="riddleAnswer" id="riddleAnswer" required data-validation-required-message="Please enter your answer." pattern="[A-Za-z0-9]{1,50}">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-riddle" id="sendAnswerButton">Submit your Answer</button>
            </div>
        </form>

        <div id="messages-container">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %} {% endif %} {% endwith %}
        </div>

        <div class="riddle-answer-attempts">
                {% for player in player_info %} {% if player.username == session['username'] %} {{player_answer}}
                <p>Number of attempts made:&nbsp;&nbsp;{{ player.attempt }}</p>
                {% if player.attempt == 0 %}
                <p>Attempts remaining:&nbsp;&nbsp; 2</p>
                {% elif player.attempt == 1 %}
                <p>Attempts remaining:&nbsp;&nbsp; 1</p>
                {% else %} {% endif %}{% endif %} {% endfor %}
        </div>
    </div>
    {% endblock %}


    <!-- Debug area. Hidden if debug set to False -->
    {% block content_debug %}
    <div class="left">
        <h5>Players List:</h5>
        {% for player in player_info %}
        <p>
            username: {{ player.username }}<br> attempts: {{ player.attempt }}<br> score: {{ player.score}}<br> riddle_number: {{ player.riddle_number }}
            <br><br>
        </p>
        {% endfor %}
    </div>
    <div class="right">
        <h5>Current Riddle Index</h5>
        <p>{{ riddle.Number }}</p>
        <h5>Correct Anwer</h5>
        <p>{{ riddle.Answer }}</p>
        <h5>Leader Board</h5>
        {% for leader in leaderboard %}
        <p>
            username: {{ leader.username }}<br> score: {{ leader.score }}
        </p>
        {% endfor %}
        <h5>Usernames List</h5>
        <p>{{ usernames }}</p>
        <h5>Session</h5>
        <p>{{ session }}</p>
    </div>

    {% endblock %}
