{% extends 'base.html' %} {% block content %}
<h1>Play</h1>
<p>{{username}}</p>

<p>{{nextRiddle}}</p>
<form method="POST" name="riddleAnswer" id="answerForm">
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <input type="text" class="form-control" placeholder="Riddle Answer" name="riddleAnswer" id="riddleAnswer" required data-validation-required-message="Please enter your answer.">
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="sendAnswerButton">Submit your Answer</button>
    </div>
</form>
<br><br><br><br><br>

{% with messages_play = get_flashed_messages() %} 
{% if messages_play %}
<ul>
    {% for mess in messages_play %}
    <li>{{ mess }}</li>
    {% endfor %}
</ul>
{% endif %} 
{% endwith %}


<h2>LeaderBoard</h2>
{{leaderboard}}

<h2>Attempts</h2>
{{session['attempts']}}
{{attempts}}

<h2>current Riddle Index</h2>
{{currentRiddleIndex}}
{% endblock %}
